{% extends "base.html"%} {% block content %} {% if object%}
<h1>Edit: <span class="teal-text">{{object.name}}</span></h1>
{%else%}
<h1>Add Character</h1>
{% endif %}
<div class="form-area">
  <form action="" method="post">
    {% csrf_token %}
    <div class="add_character_helper">
      <table class="striped highlight">
        {{form.as_table}}
      </table>
    </div>
    <input type="submit" value="Submit" class="btn" />
  </form>
</div>

{% block javascript %}
<script>
  const skillSelect = document.getElementById("<my-select-id>");
  // Add this line below
  console.log("0 materialize loaded?: ", M);
  M.FormSelect.init(skillSelect);
</script>
{% endblock %} {% endblock %}
