{% extends "base.html"%} {% block content %}
<h1>Weapon List</h1>
<div class="list">
  {% for armour in armour_list %}
  <div class="card">
    <div class="card-content armour-card">
      <div class="card-title center">{{armour.name}}</div>
      <div class="image-holder">
        <img class="img" title="{{armour.name}}" src="{{armour.icon}}" />
      </div>
      {% if armour.exaltedValue >= 1%}
      <p>
        <span class="bold">Value:</span> {{armour.exaltedValue}}<img
          src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyAddModToRare.png"
          class="chaos-icon"
        />
      </p>
      {% else %}
      <p>
        <span class="bold">Value:</span> {{armour.chaosValue}}<img
          src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png"
          class="chaos-icon"
        />
      </p>
      {%endif%} {% if armour.links %}
      <p><span class="bold">Links:</span> {{armour.links}}</p>
      {% else %}
      <p><span class="bold">Links:</span> 1</p>
      {% endif %} {% if armour.implicitModifiers.0.text %}
      <p>
        <span class="bold">Implicit:</span> {{armour.implicitModifiers.0.text}}
      </p>
      {% endif %}
      <p>
        <span class="bold">Explicits:</span>
        {{armour.explicit_holder|safe}}
      </p>
      {% if '<<HBGAa>>' in armour.flavourText %}
      <p><span class="bold">Details:</span> Mysteryous Runes</p>
      {% elif armour.flavourText %}
      <p><span class="bold">Details:</span> {{armour.flavourText}}</p>
      {% endif %}
      
    
    </div>
       
  </div>

  {% endfor %}
</div>
{% endblock %}
