{% extends "base.html"%} {% block content %}

<div class="inventory-container">
  <div class="character-container">
    <div class="above-inventory">
      <h3>{{character.name}}</h3>
      <img src="{{character.ascendancy}}" alt="" />
    </div>

    <div class="character-inventory">
      <div class="left-side">
        <div class="left-weapon">
          <a href="{% url 'right_weapon_select' character.id %}">
            <img src="{{character.right_hand}}" alt="" />
          </a>
        </div>
        <div class="boots">
          <a href="{% url 'boots_select' character.id %}">
            <img src="{{character.boots}}" alt="" />
          </a>
        </div>
      </div>
      <div class="middle-side">
        <div class="helm">
          <a href="{% url 'helm_select' character.id %}">
            <img src="{{character.helm}}" alt="" />
          </a>
        </div>
        <div class="body-armour">
          <a href="{% url 'chest_select' character.id %}">
            <img src="{{character.chest}}" alt="" />
          </a>
        </div>
        <div class="belt">
          <img src="{{character.belt}}" alt="" />
        </div>
      </div>
      <div class="right-side">
        <div class="right-weapon">
          <img src="{{character.left_hand}}" alt="" />
        </div>
        <div class="gloves">
          <img src="{{character.gloves}}" alt="" />
        </div>
      </div>
    </div>
    <div class="character-accessories">
      <div class="amulet">
        <a href="{% url 'amulet_select' character.id %}">
          <img src="{{character.amulet}}" alt="" />
        </a>
      </div>

      <div class="leftring">
        <a href="{% url 'ring_select' character.id %}"
          ><img src="{{character.ring1}}" alt=""
        /></a>
      </div>
      <div class="rightring">
        <a href="{% url 'ring_select' character.id %}"
          ><img src="{{character.ring2}}" alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'character_update' character.id %}">Edit</a>
    <a href="{% url 'character_delete' character.id %}">Delete</a>
  </div>
</div>
<div>
  <h3>Items</h3>
  <table class="striped highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>image</th>
        <th>Price</th>
        <th>Implicit</th>
        <th>Explicits</th>
        <th>Type</th>
        <th>ID</th>
        {% comment %}
        <th>Character</th>
        {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {%for item in item_list%}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.image}}</td>
        <td>{{item.price}}</td>
        <td>{{item.implicit}}</td>
        <td>{{item.explicits|safe}}</td>
        <td>{{item.item_type}}</td>
        <td>{{item.api_id}}</td>
        {% comment %}
        <td>{{character.name}}</td>
        {% endcomment %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<form action="{% url 'add_item' character.id %}" method="post">
  {%csrf_token%}
  <div class="hidden">{{ item_form.as_p}}</div>
  <input type="submit" class="btn" value"Add Item"/>
</form>

{% endblock %}
