{% extends "base.html"%} {% block content %}
<h1>Scarab List</h1>
<div class="list">
  {% for scarab in scarab_list %}
  <div class="card">
    <div class="card-content scarab-card">
      <span class="card-title">
        {{scarab.name}}
        <img
          class="img scarab-icon"
          title="{{scarab.name}}"
          src="{{scarab.icon}}"
        />
      </span>
      <p>
        <span class="bold">Effect:</span> {{scarab.explicitModifiers.0.text}}
      </p>
      {% if scarab.flavourText %}
      <p><span class="bold">Details:</span> {{scarab.flavourText}}</p>
      {% endif %}
      <p>
        <span class="bold">Value:</span> {{scarab.chaosValue}}<img
          src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png"
          class="chaos-icon"
        />
      </p>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
