{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link
      rel="icon"
      href="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="left brand-logo">Library</a>
          <ul hide-on-med-and-down></ul>
          <div class="brand-logo center">
            <ul>
              <li>
                <a href="{% url 'weapons' %}">Weapons</a>
              </li>
              <li>
                <a href="{% url 'armour' %}">Armour</a>
              </li>
              <li>
                <a href="{% url 'accessories' %}">Accessories</a>
              </li>
              <li>
                <a href="{% url 'inventory' %}">Inventory</a>
              </li>
              <li>
                <a href="{% url 'characters' %}">Characters</a>
              </li>
              <li>
                <a href="{% url 'classes' %}">Classes</a>
              </li>
              <li>
                <a href="{% url 'currency' %}">Currency</a>
              </li>
              <li>
                <a href="{% url 'scarabs' %}">Scarabs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <footer class="page-footer">
      <div class="center">All Rights reserved &copy; 2022 Library</div>
    </footer>
    <script language="javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);
      });
    </script>
  </body>
</html>
