{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exile Builder</title>
    <link
      rel="icon"
      href="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".button-collapse").sideNav();
      });
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    {% comment %}
    <header class="navbar-fixed">
      {% endcomment %}
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">Exile Builder</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"
              ><i class="material-icons">menu</i></a
            >
            <div class="brand-logo center">
              <ul class="right hide-on-med-and-down nowrap">
                <li>
                  <a href="{% url 'currency' %}">Currency</a>
                </li>
                <li>
                  <a href="{% url 'scarabs' %}">Scarabs</a>
                </li>
                <li>
                  <a href="{% url 'classes' %}">Classes</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'my_characters' %}">My Characters</a>
                </li>
                <li>
                  <a href="{% url 'characters' %}">Characters</a>
                </li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <li><h5>Hi {{user.username}}</h5></li>
                {%else%}
                <li>
                  <a href="{% url 'weapons' %}">Weapons</a>
                </li>
                <li>
                  <a href="{% url 'armour' %}">Armour</a>
                </li>
                <li>
                  <a href="{% url 'accessories' %}">Accessories</a>
                </li>

                <li>
                  <a href="{%url 'login' %}">Log In</a>
                </li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {%endif%}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="{% url 'weapons' %}">Weapons</a>
        </li>
        <li>
          <a href="{% url 'armour' %}">Armour</a>
        </li>
        <li>
          <a href="{% url 'accessories' %}">Accessories</a>
        </li>
        <li>
          <a href="{% url 'classes' %}">Classes</a>
        </li>
        <li>
          <a href="{% url 'currency' %}">Currency</a>
        </li>
        <li>
          <a href="{% url 'scarabs' %}">Scarabs</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'my_characters' %}">My Characters</a>
        </li>
        <li>
          <a href="{% url 'characters' %}">Characters</a>
        </li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        <li><h5>Hi {{user.username}}</h5></li>
        {%else%}
        <li>
          <a href="{%url 'login' %}">Log In</a>
        </li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {%endif%}
      </ul>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <footer class="page-footer">
      <div class="center">All Rights reserved &copy; 2022 Exile Builder</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
