body {
  /* background-color: #131a20; */
  display: flex;
  min-height: 100vh;
  background: url("/static/imgs/exarch.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center 62px;
  background-size: 100vw 100vh;
  flex-direction: column;
}

h1 {
  color: white;
  margin-left: 100px;
}

h3 {
  text-align: center;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
}

.img {
  max-width: 297px;
  display: inline;
}

.card {
  display: flex;
  width: max-content;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(245, 245, 245, 0.915) !important;
}

.card-content {
  padding: 15px !important;
}

nav {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #131a20fb !important;
}

.currency {
  /* max-width: 200px; */
  display: flex;
  flex-shrink: 1;
  flex-basis: auto;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 100% !important;
}

.card-title {
  font-size: 16px !important;
  font-weight: bold !important;
}

.card:hover {
  /* transform: scale(1.04); */
  outline: 6px solid #b40800;
}
.class-container img {
  border-radius: 5px;
}

.img:hover {
  margin: auto;
  /* width: 100%; */
  /* height: 100%; */
  transform: scale(1.175);
  cursor: pointer;
}

.center {
  display: flex;
  align-self: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.scarab-card {
  max-width: 350px;
}

.weapon-card {
  max-width: 380px;
}

.armour-card {
  max-width: 380px;
}

.container {
  width: 80% !important;
}

.bold {
  font-weight: bold;
}

.image-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chaos-icon {
  width: 39px;
  height: 39px;
  position: relative;
  top: 8px;
}

.x-icon {
  width: 25px;
  height: 25px;
}
.x-icon:hover {
  cursor: pointer;
}

.scarab-icon {
  width: 70px;
  height: 70px;
  position: relative;
  top: 12px;
}

/*------------- inventory ------*/

.inventory-container {
  background-color: rgba(245, 245, 245, 0.724);
  width: min-content;
  margin: 0 auto;
  margin-top: 50px;
  padding: 35px;
  padding-top: 2px !important;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color: #131a20f6;
  color: azure;
}

.character-inventory {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.character-inventory img:hover {
  transform: scale(1.135);
}

.character-accessories img:hover {
  transform: scale(1.135);
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.middle-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.character-accessories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.above-inventory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.above-inventory img {
  margin-left: 15px;
  border-radius: 15px;
}

.character-accessories div {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #131a20ef;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.left-side div {
  border: 1px solid black;
  border-radius: 5px;
  /* background-color: #131a20ef; */
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}
.right-side div {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #131a20ef;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
}
.middle-side div {
  border: 1px solid black;
  border-radius: 5px;
  /* background-color: #131a20ef; */
  padding-left: 6px;
  padding-right: 6px;
}

.item-list-container {
  display: flex;
  align-items: center;
  align-content: center;
  padding-right: 50px;
}
.item-list {
  display: flex;
  width: max-content;
  flex-direction: column;
}

.left-weapon {
  background: url("/static/imgs/weapon.png");
  background-size: 100%;
  padding: 2px;
  height: 205.5px;
  width: 107px;
  display: flex;
  align-items: center;
}

.right-weapon {
  background: url("/static/imgs/weapon.png");
  background-size: 100%;
  display: flex;
  align-items: center;

  height: 205.5px;
  width: 107px;
}

.boots {
  background: url("/static/imgs/boots.png");
  background-size: cover;
  padding: 2px;
  background-repeat: no-repeat;
  height: 108.5px;
  width: 107px;
}

.gloves {
  background: url("/static/imgs/gloves.png");
  background-size: cover;
  padding: 2px;
  background-repeat: no-repeat;
  height: 108.5px;
  width: 107px;
}

.body-armour {
  background: url("/static/imgs/chest.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  height: 156.25px;
  width: 108px;
}

.belt {
  background: url("/static/imgs/belt.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px;
  height: 60.25px;
  width: 108px;
  display: flex;
  align-items: center;
}

.amulet {
  background: url("/static/imgs/amulet.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 58.25px;
  width: 57px;
}

.helm {
  background: url("/static/imgs/helm.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  height: 108.5px;
  width: 108px;
}

.leftring {
  background: url("/static/imgs/ring.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 58.25px;
  width: 57px;
}

.rightring {
  background: url("/static/imgs/ring.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 58.25px;
  width: 57px;
}

.item-list ul li img {
  position: relative;
  top: 9px;
}

.item-list ul li img:hover {
  margin: auto;
  /* width: 100%; */
  /* height: 100%; */
  transform: scale(1.475);
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}

@media only screen and (max-width: 1470px) {
  .container {
    width: 90% !important;
  }
}

@media only screen and (max-width: 979px) {
  .container {
    width: 98% !important;
  }
}
