body {
  /* background-color: #131a20; */

  /* background: url("https://i.imgur.com/0SwZDVY.jpg"); */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.below-nav {
  background: url("/static/imgs/exarch.jpg");
  /* background-size: contain; */
  background-size: 100%;
  background-attachment: fixed;
  background-position: center 62px;
  background-repeat: no-repeat;
}

h1 {
  color: white;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
}

.img {
  max-width: 297px;

  display: inline;
}

.card {
  display: flex;
  width: max-content;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(245, 245, 245, 0.915) !important;
}

nav {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #131a20f6 !important;
}

.currency {
  /* max-width: 200px; */
  display: flex;
  flex-shrink: 1;
  flex-basis: auto;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 100% !important;
}

.card-title {
  font-size: 16px !important;
  font-weight: bold !important;
}

.card:hover {
  /* transform: scale(1.04); */
  outline: 6px solid #b40800;
}

.img:hover {
  margin: auto;
  /* width: 100%; */
  /* height: 100%; */
  transform: scale(1.075);
}

.center {
  display: flex;
  align-self: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.scarab-card {
  max-width: 350px;
}

.weapon-card {
  max-width: 380px;
}

.container {
  width: 80% !important;
}

.bold {
  font-weight: bold;
}

.image-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
